<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="xmlperu">
            <directory>tests</directory>
            <!-- La prueba de integracion se corre a mano: necesita token real. -->
            <exclude>tests/integracion</exclude>
        </testsuite>
    </testsuites>
</phpunit>
